@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Ribeye&display=swap');

body{
  background-color: #EFEFEF;
}

#title{
  text-align: center;
  color: #1E2F97;
  margin-top: 70px;
  padding: 40px;
}

#title h2{
  font-family: Ribeye;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
}

#title h5{
  font-family: Ruda;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

#mission{
  background: #72CBCB;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}

#mission img{
  max-width: 30vw;
  max-height: 60vh;
  position: absolute;
  margin-left: 5vw;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}

#mission h3{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #1E2F97;
}

#mission p{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #1E2F97;
}
#mission .content{
  padding: 40px;
  max-width: 50%;
}
#mission .content div{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background: #797EF6;
  border-radius: 30px;
  color: #FFFFFF;
  width: 175px;
  padding: 10px 15px;
}

#stats{
  background-color: #63BAE4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  margin-top: 70px;
}

#stats div{
  background-color: #1E2F97;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 2px 8px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  padding: 10px 20px;
  width: 30%
}

#stats h1{
  font-family: Ribeye;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 197px;
  margin: 10px 0;
  color: #797EF6;
}

#stats h4{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #797EF6;
  margin: 10px 0;
}

#volunteer{
  height: 60vw;
}

#volunteer img{
  filter: brightness(50%);
  position: absolute;
  width: 100vw;
}

#volunteer div{
  padding: 60px 80px;
  position: absolute;
}
#volunteer h2{
  font-family: Ribeye;
  font-style: normal;
  font-weight: normal;
  font-size: 86px;
  line-height: 117px;
  color: #FFFFFF;
  z-index: 2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#volunteer h6{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  z-index: 2;
  color: #FFFFFF;
}

#programs{
  padding: 60px;
}

#programs h2{
  font-family: Ribeye;
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 102px;

  color: #053B59;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#programs .container{
  background: #72CBCB;
  box-shadow: 2px 8px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 44px;
  padding: 40px;

  font-family: Ribeye;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 79px;
  text-align: center;

  color: #797EF6;
}

#programs .row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

#programs .content{
  display: flex;
  flex-direction: column;
}

#events{
  width: 100vw;
  padding: 40px;
}

#events .bettertitle{
  font-family: Ribeye;
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 102px;
  
  color: #053B59;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#events .box{
  margin: 2vw;
  padding: 40px;
  background: #63BAE4;
  border-radius: 50px;
}

#events .title{
  font-family: Ribeye;
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 102px;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#events p{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  
  color: #FFFFFF;
}

#events .buttonCont{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

#events .MoEvents{
  background: #797EF6;
  border-radius: 30px;
  width: 10vw;
  height: 50px;
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}