.headingCont{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  height: calc(100vh - 70px);
}
.title{
  font-size: 100px;
  padding: none;
  margin: 0px;
}
.subtitle{
  margin: 0px;
  margin-bottom: 20px;
}
.learnMore{
  width: 200px;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: rgba(0, 255, 255, 0.336);
  border-radius: 3px;
}
.background{
  height: calc(100vh - 70px);
  width: 100vw;
  z-index: -1;
  position: fixed;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  box-sizing: border-box;
}
.table{
  width: 100vw;
  position: fixed;
  bottom: 0;
  text-align: center;
  height: 40vh;
}
#table{
  max-width: 100%;
  max-height: 100%;
}
.spacer{
  height: 100vh;
}
#corkboard{
  max-height: 70%;
  max-width: 70%;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
}